html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  background: #fff;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

button {
  display: block;
  cursor: pointer;
  border: transparent;
}

ul {
  list-style: none;
}

label,
input,
textarea {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.Loader {
  width: 70px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
